footer.footer {}
.page-to-top {
    position: fixed;
    bottom: 50px;
    right: 15px;
    opacity: 0;
    transform: translateY(-20px);
    transition: all 0.5s ease;
    max-width: 40px;
    @include mobile-up {
        max-width: 50px;
        bottom: 250px;
    }
    @include tablet-up {
        bottom: 165px;
        right: 40px;
        max-width: 100%;
    }
    &.fixed {
        opacity: 1;
        transform: translateY(0);
    }
}